@import "assets/styles/styles.scss";
.ferment-text
{
    textarea{
        background: #F5F6FA;
        font-size: 13px;
        padding: 6px 8px;
        border-bottom: none;
        min-height: 100px;
    }   
}
.custom-radio-wrapper {
  float: left;
  margin-top: 8px;
  width: 100%;
}

.custom-radio {
  float: left;
  margin-right: 10px;
}


// Medium devices (tablets, less than 992px)
@media (max-width: 992px) { 
    .progressbar
    {
        width: 100%
    }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
    .progressbar
    {
        width: 100%
    }
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    .progressbar li a
    {
        font-size: 10px;
    }
}
.recipe-scrolltop {
    background: #FFA11B;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -47px;
    right: 1px;
    cursor: pointer;
}
.scroll-arrow
{
    position: absolute;
    left: 3px;
    top: 3px;
    color: $BgWhite;
}