.forgotpass-bg{
    background: whitesmoke;
    height: 100vh;
}
.changepswd-details {
    background: #ffffff;
    padding: 20px;
    
    border-radius: 10px;
   
    .changepswd-form {
        p {
            color: #6c757d !important;
            font-weight: 600;
        }
        .changepswd-actions {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.pass-success {
    color: #32ca72;
    ;
}

.header-title {
    h6 {
        font-size: 20px;
        font-weight: 600;
        color: #1a2138;
    }
}