@import "assets/styles/styles.scss";
.header-title {
    color: $headerFont;
    font-size: $headerFontsize;
}

.cal-img
{
    img
    {
        width: 20px;
    }
}




.ferment-table {
    background: $BgWhite;
    border-radius: $tableBorder;
    padding: $tablePadding;
    table{
        min-width: 1024px;
    }
}

.edit-ico {
    img {
        width: 15px;
    }
}

.download-ico {
    img {
        width: 17px;
    }
}

.del-ico {
    img {
        width: 12px;
    }
}

.progress {
    height: 10px;
}

.days-status {
    span {
        font-weight: 600;
    }
}

.progress-percent {
    p {
        font-weight: 600;
    }
}