@import "assets/styles/styles.scss";
.l-search
{
    min-width: 400px;
    @media (max-width: 767px) { 
        min-width: calc(100% - 95px);
    }
}


.user-search-wrap{
    float: left;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    @media (max-width: 767px) { 
        width: 100%;
    }
    .filter-ico{
        margin: 0 15px;
    }
}
.user-actions{
    float: right;
    @media (max-width: 767px) { 
        float: left;
    }
}


.search-ico {
    top: 9px;
    font-size: 21px;
    left: 10px; 
}

.prin-ico {
    top: 5px;
    left: 15px;
    color: #636D75;
}

.filter-ico {
    right: 0px;
    top: 5px;
    color: #636D75;
}

.edit-ico
{
    img
    {
        width: 15px;
    }
}
.report-table
{
    table
    {
        min-width: 1024px;
    }
}

.drop-arrow{
    display: none;;
}
